.Intro {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-top_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-action-sheet {
    width: 100%;
}


.vendor-main {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.qrCodeBox {
    display: flex;
}
.qrCode {
    margin: auto;
}

.home-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 315px;
    margin: 0 auto;
}

.history-wrapper__group {
    margin: 0;
    padding: 0;
}

.history-wrapper {
    padding: 5px 10px;
    margin: 0;
}

.qr-code-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.history-amount {
    font-weight: bold;
}

.history-item-main {
    display: flex;
    align-items: baseline;
    padding: 0;
    margin: 0;
}

.main-history-block {
    display: flex;
    flex-direction: column;
}

.history-item-title {
    display: flex;
    flex-direction: row;
}

.history-list {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.history-item-details {
    display: flex;
    justify-content: left;
    color: darkgray;
    margin: 5px 0px 0px 0px;
    padding: 0;
}

.history-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.qr-code-container svg {
    width: 100%;
    height: 100%;
}

h3 {
    margin: 10px 0px 0px 0px;
}

.vendor-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.vendor-input-form {
    width: 100%;
}